.book-search-bar {
  position: relative;
  width: 100%; 
  max-width: 600px; 
  margin: 10px auto;
  font-size: 13px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  flex-grow: 1; 
  min-width: 120px; 
}

.search-input-wrapper .input {
  width: 100%;
  padding: 6px 6px 6px 26px;
  border: none;
  font-size: 13px;
  outline: none;
  color: #000;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #888;
  font-size: 13px;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
}

.search-filter {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  white-space: nowrap; 
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: #000;
}

.suggestion-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

/* image */
.image-upload-btn {
  background: #4a4af5;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.image-upload-btn:hover {
  background: #3333cc;
}

/* Media Query for Small Screens (e.g., mobile) */
@media (max-width: 300px) {
  .book-search-bar {
    width: 20%;
  }
  .search-bar-container {
    flex-wrap: wrap; 
  }
  .search-filter {
    width: 100%;
  }
}
